<!DOCTYPE html>
<html>
  <head>

    <title>PrioriTies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- navbar-fixed-top -->

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><a data-toggle="modal" data-target="#newModal">[ + ]</a></li>
            <li><a href="/priorities">PrioriTies</a></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>        
            <li><a href="/users/sign_out">Logout</a></li>
          <% else %>
            <li><a href="/users/sign_up">Sign up!</a></li>
            <li><a href="/users/sign_in">Login</a></li>            
          <% end %>     
        </ul>
      </div>
    </div>
  </nav>
    
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>
    
    <!-- wrapping yield in angular -->
    <div ng-app="app">
    <%= yield %>
    </div>

    <div id="newModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add a New PrioriTie</h4>
          </div>
          <div class="modal-body">

            <%= form_tag '/priorities', method: :post do %>

              <div>
                <%= label_tag :title %>:
                <%= text_field_tag :title %>
              </div>

              <div>
                <%= label_tag :description %>:
                <%= text_field_tag :description %>
              </div>

              <div>
                <%= label_tag :category_id %>:
                <%= text_field_tag :category_id %>
              </div>

              <div>
                <%= label_tag :address %>:
                <%= text_field_tag :address %>
              </div>

              <div>
                <%= label_tag :completion_time %> (in minutes):
                <%= text_field_tag :completion_time %>
              </div>

              <div>
                <%= label_tag :date_time %>:
                <%= text_field_tag :date_time %>
              </div>
              
              <div>
                <%= label_tag :pinned %>:
                <%= text_field_tag :pinned %>
              </div>
              
              <div>
                <%= submit_tag "submit" %>
              </div>

            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!-- FIX THIS SAVE BUTTON -->
            <input type="submit" ng-click="saveEdits(current_task)" class="btn btn-primary" name="commit" value="Save Changes" data-dismiss="modal" data-disable-with="submit">            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
