<!DOCTYPE html>
<html>
  <head>

    <title>PrioriTies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- navbar-fixed-top -->

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PrioriTies</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><a data-toggle="modal" data-target="#newModal">[ + ]</a></li>
<!--             <li><a href="/">PrioriTies</a></li> -->
          <% end %>
        </ul>
<!--         <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>        
            <li><a href="/users/sign_out">Logout</a></li>
          <% else %>
            <li><a href="/users/sign_up">Sign up!</a></li>
            <li><a href="/users/sign_in">Login</a></li>            
          <% end %>     
        </ul>
      </div>
    </div>
  </nav>
    
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>
    
    <!-- wrapping yield in angular -->
    <div ng-app="app">
    <%= yield %>
      <div ng-controller="pageCtrl as vm">
      <% if current_user %>
      <div id="newModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Add a New PrioriTie</h4>
            </div>
            <div class="modal-body">

              <form action="/priorities" accept-charset="UTF-8" method="post" class="ng-pristine ng-valid"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="hidden" name="authenticity_token" value="sXHqbtfdKK5QOqsbbyNAVnBYQPPMbUtELNUPeeGUiSHVRMdj24Fzjck9Ar19K45kr2wDbW1TtH+RXF10CWbfaQ==" autocomplete="off">

                <div>
                  <label for="title">Title</label>:
                  <input type="text" class="form-control" name="title" id="title" ng-model="new_task.title">
                </div>

                <div>
                  <label for="description">Description</label>:
                  <input type="text" class="form-control" name="description" id="description" ng-model="new_task.description">
                </div>

                <div>
                  <label for="priority_level">Priority level</label>:
                  <input type="text" class="form-control" name="priority_level" id="priority_level" ng-model="new_task.priority_level">
                </div>

                <div>
                  <label for="category_id">Category</label>:
                  <input type="text" class="form-control" name="category_id" id="category_id" ng-model="new_task.category_id">
                </div>

                <div>
                  <label for="address">Address</label>:
                  <input type="text" class="form-control" name="address" id="address" ng-model="new_task.address">
                </div>

                <div>
                  <label for="completion_time">Completion time</label> (in minutes):
                  <input type="text" class="form-control" name="completion_time" id="completion_time" ng-model="new_task.completion_time">
                </div>

                <div>
                  <label for="date_time">Date time</label>:
                  <input type="text" class="form-control" name="date_time" id="date_time" ng-model="new_task.date_time">
                </div>
                
                <div>
                  <label for="pinned">Pin this task?</label>:
                  <input type="checkbox" class="form-control" name="pinned" ng-model="new_task.pinned"><br>
                </div>

            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <!-- FIX THIS SAVE BUTTON -->
                <input type="submit" ng-click="vm.newTask(new_task, <%= current_user.id %>)" class="btn btn-primary" name="commit" value="Save Changes" data-dismiss="modal" data-disable-with="submit">          
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <% end %>
    </div> <!-- angular controller -->
  </div> <!-- .angular app -->
  </body>
</html>
